<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrowMeApp"
        tools:targetApi="31">
        <activity
            android:name=".Statistics_waterLevel_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2pass"
            android:exported="false" />
        <activity
            android:name=".Statistics_tempActivity"
            android:exported="false" />
        <activity
            android:name=".Statistics_lightActivity"
            android:exported="false" />
        <activity
            android:name=".Statistics_PHActivity"
            android:exported="false" />
        <activity
            android:name=".Statistics_helpActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MetricsActivity"
            android:exported="false" />
        <activity
            android:name=".StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".LiveStreamActivity"
            android:exported="false" />
        <activity
            android:name=".ResetGardenActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGardenActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuPageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>